In [27]:
#Two types of pandas 1.Series(1d) and 2.Dataframes(2d)
#shift+tab

In [28]:
#installation of PANDAS
!pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [19]:
import pandas as pd

In [20]:
#creating series
s1=pd.Series([1,2,3,4])
s1

0    1
1    2
2    3
3    4
dtype: int64

In [21]:
#Custom index and change of datatype
s2=pd.Series([1,2,3,4],index=["a","b","c","d"],dtype=float)
s2

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [23]:
#creating dataframes
l1=[[1,2],[2,3]]
pd.DataFrame(l1)

   0  1
0  1  2
1  2  3

In [26]:
#Custom index and change of datatype
l1=[[1,2],[2,3]]
pd.DataFrame(l1,index=["1","2"],columns=["a","b"])

   a  b
1  1  2
2  2  3